

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: rgb(6, 6, 6);
  background-image: linear-gradient(to bottom, orange, green);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  display: inline-block;
  line-height: 7.2rem;
  margin-bottom: 2rem;
  margin-left: 10%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.head {
  text-align: center;
  margin: 0 2%;
}

.climate {
  position: relative;
  width: 20%;
  left: 10px;
  border: 3px double #2f2f2f;
  padding: 1rem;
  line-height: 2rem;
  display: inline-block;
  margin: 0 2% 2rem 0;
}



@media screen and (max-width: 768px) {
  header {
    font-size: 6rem;
    line-height: 5.4rem;
    margin-left: 5%;
  }

  .climate {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header {
    font-size: 4rem;
    line-height: 3.6rem;
    margin-left: 2%;
  }

  img {
    width: 100%;
  }
}

